body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  width:100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
  font-style: italic;
  color: #AAA;
}

.arc path{
    stroke: #fff;
}

.chart_area{
  width: 200px;
  height: 200px;
}

.legend {
    line-height: 18px;
    color: #555;
	background: white;
    background: rgba(255,255,255,1.0);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 5px;
	padding: 6px 8px;

}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend .gradient {
  width: 18px;
  height: 54px;
  float: left;
  margin-right: 8px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

